---
import Layout from '@/layouts/Layout.astro';
import DetailSection from '@/components/DetailSection.astro';
import DescriptionList from '@/components/DescriptionList.astro';
import DetailImage from '@/components/DetailImage.astro';
import Scroll from '@/components/Scroll.astro';
import Stalker from '@/components/Stalker';
import updatePath from '@/libs/updatePath';
import getWork from '@/libs/getWork';
import NextWork from '@/components/NextWork.astro';
import DetailInfo from '@/components/DetailInfo.astro';
import BackToList from '@/components/BackToList.astro';
const pathname = Astro.url.pathname;
const { work, nextWork } = getWork(pathname);
---

<Layout title={work?.title} isContainer={false}>
  <Scroll />

  <section
    id="horizontal-scroll"
    class="container w-full pt-[var(--header-height)] md:h-screen md:px-20 md:pt-0"
  >
    <div
      id="horizontal-scroll-container"
      class="w-full md:flex md:h-full md:w-max md:flex-nowrap md:items-center md:whitespace-nowrap md:[&>*]:h-full"
    >
      <DetailInfo work={work} />

      <DetailSection title="(Overview)">
        <div class="flex flex-col gap-4 md:text-lg">
          <p>
            自主制作として、日本の職人が一つ一つ心を込めて制作している良質な陶磁器ブランドのサイトを制作しました。<br
            />
            想いや歴史、製品の情報や、店舗でのイベントなどのコンテンツをブランドの世界観の中で表現することを意識してWebサイトのデザインとコーディングを行いました。
          </p>

          <p class="mt-12 flex gap-4 font-serif-en md:gap-12">
            <span class="text-gray">URL</span>
            <a
              class="underline"
              href="https://taikisato.com/ceramics"
              target="_blank"
              rel="noopener noreferrer">https://taikisato.com/ceramics</a
            >
          </p>
        </div>
      </DetailSection>

      <picture class="ts-horizontal-scroll-item">
        <img
          src={updatePath(`/detail/${work?.slug}/1.jpg`)}
          alt=""
          class="ts-image-white-in md:h-full"
        />
      </picture>

      <DetailSection title="(Description)" contentWidth="wide">
        <DescriptionList>
          <span slot="title">ターゲット</span>
          <span slot="description"
            >40~60代で MAID IN JAPANの質の良さを求める人、 感度の高い人</span
          >
        </DescriptionList>
        <DescriptionList>
          <span slot="title">目的</span>
          <span slot="description"
            >製品やものづくりに込めた想いや質の良さを知ってもらい購入してもらうため</span
          >
        </DescriptionList>
        <DescriptionList>
          <span slot="title">情報設計</span>
          <span slot="description">
            製品の質のよさを訴求するために、全体を通してビジュアルを大きく余白をゆったりあけた設計を行いつつ店舗情報などは見やすさをより重視したレイアウトにすることで、見せる箇所と読ませる箇所を分けて設計しています。
          </span>
        </DescriptionList>
        <DescriptionList>
          <span slot="title">デザイン</span>
          <span slot="description">
            テクスチャや縦書きを使用することにより「和」の雰囲気を全面に出し、日本の職人による技術という印象訴求を狙っています。<br
            />
            また、全体的に余白を多く取ったり、フォントサイズを小さめに設定することで落ち着いた良質な印象を与えるように意識しております。
          </span>
        </DescriptionList>
        <DescriptionList>
          <span slot="title">制作範囲</span>
          <span slot="description"> Webデザイン/Web構成要素/コーディング </span>
        </DescriptionList>
      </DetailSection>

      <div class="ts-horizontal-scroll-item">
        <div class="h-full px-5 md:px-0 md:py-[7.5rem]">
          <DetailImage>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/2.jpg`)}
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/3.jpg`)}
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/4.jpg`)}
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
          </DetailImage>
        </div>
      </div>

      <BackToList />
      <NextWork work={nextWork} />
    </div>
  </section>

  <Stalker client:only="react" />
</Layout>

<script>
  import horizontalScroll from '@/libs/horizontalScroll';
  import imageWhiteIn from '@/libs/imageWhiteIn';
  horizontalScroll();
  imageWhiteIn();
</script>
