---
import Layout from '@/layouts/Layout.astro';
import DetailSection from '@/components/DetailSection.astro';
import DescriptionList from '@/components/DescriptionList.astro';
import DetailImage from '@/components/DetailImage.astro';
import Scroll from '@/components/Scroll.astro';
import Stalker from '@/components/Stalker';
import updatePath from '@/libs/updatePath';
import getWork from '@/libs/getWork';
import NextWork from '@/components/NextWork.astro';
import DetailInfo from '@/components/DetailInfo.astro';
const pathname = Astro.url.pathname;
const { work, nextWork } = getWork(pathname);
---

<Layout title={work?.title} isContainer={false}>
  <Scroll />

  <section
    id="horizontal-scroll"
    class="md:h-screen pt-[var(--header-height)] md:pt-0 w-full container md:px-20"
  >
    <div
      id="horizontal-scroll-container"
      class="md:flex md:items-center md:flex-nowrap md:whitespace-nowrap w-full md:w-max md:h-full md:[&>*]:h-full"
    >
      <DetailInfo work={work} />

      <DetailSection title="(Overview)">
        <div class="md:text-lg flex flex-col gap-4">
          <p>
            「誰かと一緒につくるデザイン」として歴史上の人物も含む、著名な人と自分のコラボレーションしてクリエイティブを作るという課題に対して、村上春樹の小説を引用したサウナ施設のアートディレクション・デザインを行いました。<br
            />
            村上春樹の小説の特徴として自己のアイデンティティや存在についての不安や混乱を抱えることで起こる”自我のゆれ”を描く側面に着目し、この自我のゆれは「時間や仕事といった規則的なものに縛られる現代から離れ、自分や周りのゆらぎと向き合う」という点でサウナと共通点があると考えました。<br
            />
            デザインコンセプトとして、「ゆらぎを見つめる」という言葉を策定し、そちらを元に規則と不規則によって起こる”1/fのゆらぎ”の連想から施設名を定め、内装・ロゴ・ビジュアルのデザインに展開していきました。
          </p>
          <p>
            こちらはミームデザイン学校（社会人向けデザイン学校）で、デザイナーの矢後直規さん・藤田佳子さんが行った授業課題で作成しました。
          </p>
        </div>
      </DetailSection>

      <picture class="ts-horizontal-scroll-item">
        <img
          src={updatePath(`/detail/${work?.slug}/1.jpg`)}
          alt=""
          class="ts-image-white-in md:h-full"
        />
      </picture>

      <DetailSection title="(Description)" contentWidth="wide">
        <DescriptionList>
          <span slot="title">コンセプト</span>
          <span slot="description"
            > 「ゆらぎを見つめる」<br />都会にいながら喧騒から離れた隔離した空間で、<br />
            サウナによる深いリラックス状態を通して自分を見つめる時間に重きを置いた場所。<br
            />
            水面のゆらぎ、蒸気のゆらぎ、そして自我のゆらぎ。<br />
            規則と不規則、現実と幻想を行き来する心地の良いゆらぎを感じる。<br />
            過去や現在の自分の中のゆらぎを見つめることで、未来の自分を描いていく。<br
            />
            村上作品の世界による、この場所でしか得られないゆらぎの体験を。</span
          >
        </DescriptionList>
        <DescriptionList>
          <span slot="title">施設設計</span>
          <span slot="description">
            1/fのゆらぎを感じる規則性と不規則性が適度に混ざる木材や珪藻土などの自然素材を主に使用。館内はゆらぎをイメージした曲線やうねりを多用した設計にします。<br
            />
            サウナ自体は、現実と幻想の行き来するような村上春樹の作品の特徴から「現実」と「幻想」という二つのサウナ室を用意し、それぞれ小説の内容をイメージしたモチーフで作成想定です。また、館内にあらゆるところには村上春樹の言葉を自由自在に書き記し、施設全体として統一された世界観を表現しております。
          </span>
        </DescriptionList>
        <DescriptionList>
          <span slot="title">デザイン</span>
          <span slot="description">
            シンボルマークは、村上春樹の代表作の一つ「海辺のカフカ」のカフカという言葉がチェコ語で「カラス」を表すという所からイメージし、加えてカラスと神話や文化でも関係性の高い、「月」をイメージしたモチーフも合わせ、ゆらぎによる不規則性を足しました。また施設名にある「/」は切り離すといった連結や分割を表すような意味を持つため、切り離されたようなディテールでシンボルマークとタイポグラフィをデザインしました。<br
            />
            ビジュアルとしては、ゆらぎや切り離しの表現をしながら、水や煙といった”ゆらぎ”をパス化することで触知化・視覚化というアプローチを行い、村上春樹は文章や言葉として、自分はビジュアルとしてゆらぎを表現し、自我ゆれと向き合っているという意味合いを含めております。
          </span>
        </DescriptionList>
        <DescriptionList>
          <span slot="title">制作範囲</span>
          <span slot="description"
            >ロゴ/ショップカード/館内イメージ/その他グッズ</span
          >
        </DescriptionList>
      </DetailSection>

      <div class="ts-horizontal-scroll-item">
        <div class="md:py-[7.5rem] h-full px-5 md:px-0">
          <DetailImage>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/2.jpg`)}
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/3.jpg`)}
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/4.jpg`)}
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/5.jpg`)}
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
            <DetailImage row={2}>
              <li>
                <picture>
                  <img
                    src={updatePath(`/detail/${work?.slug}/6.jpg`)}
                    alt=""
                    class="ts-image-white-in"
                  />
                </picture>
              </li>
              <li>
                <picture>
                  <img
                    src={updatePath(`/detail/${work?.slug}/7.jpg`)}
                    alt=""
                    class="ts-image-white-in"
                  />
                </picture>
              </li>
            </DetailImage>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/8.png`)}
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
          </DetailImage>
        </div>
      </div>

      <NextWork work={nextWork} />
    </div>
  </section>

  <Stalker client:only="react" />
</Layout>

<script>
  import horizontalScroll from '@/libs/horizontalScroll';
  import imageWhiteIn from '@/libs/imageWhiteIn';
  horizontalScroll();
  imageWhiteIn();
</script>
