---
import Layout from '@/layouts/Layout.astro';
import DetailSection from '@/components/DetailSection.astro';
import DescriptionList from '@/components/DescriptionList.astro';
import DetailImage from '@/components/DetailImage.astro';
import Scroll from '@/components/Scroll.astro';
import Stalker from '@/components/Stalker';
import getWork from '@/libs/getWork';
import NextWork from '@/components/NextWork.astro';
import DetailInfo from '@/components/DetailInfo.astro';
import updatePath from '@/libs/updatePath';
import BackToList from '@/components/BackToList.astro';
import ParallaxImage from '@/components/ParallaxImage.astro';
const pathname = Astro.url.pathname;
const { work, nextWork } = getWork(pathname);
---

<Layout title={work?.title} isContainer={false}>
  <Scroll />

  <section
    id="horizontal-scroll"
    class="md:h-screen pt-[var(--header-height)] md:pt-0 w-full container md:px-20"
  >
    <div
      id="horizontal-scroll-container"
      class="md:flex md:items-center md:flex-nowrap md:whitespace-nowrap w-full md:w-max md:h-full md:[&>*]:h-full"
    >
      <DetailInfo work={work} />

      <DetailSection title="(Overview)">
        <div class="md:text-lg flex flex-col gap-4">
          <p>
            自主制作として、繊維メーカーのロゴ・名刺・Webデザインを行いました。
            高品質な製品で人体や環境に配慮され、世界シェアでもトップを誇る繊維メーカーの企業を設定し、そちらの提案として「らしさ」を表現すべく、製品だけではなく、人体や環境に配慮された製品が紡いでいく”未来”といったところを表現する「繊維が紡ぐ人と地球の未来」というコンセプトを策定しました。
            このコンセプトを元に一貫したブランディングを行うべくWebサイトやロゴのアートディレクションとデザインを行いました。
          </p>
        </div>
      </DetailSection>

      <ParallaxImage
        src={updatePath(`/detail/${work?.slug}/1.jpg`)}
        alt={`${work?.title}のイメージ画像`}
      />

      <DetailSection title="(Description)" contentWidth="wide">
        <DescriptionList>
          <span slot="title">ターゲット</span>
          <span slot="description"
            >自動車業界において部品の設計・製造担当者、求職者など</span
          >
        </DescriptionList>
        <DescriptionList>
          <span slot="title">目的</span>
          <span slot="description"
            >企業としての取り組みや想いを伝え、知名度、信用度を向上させるため</span
          >
        </DescriptionList>
        <DescriptionList>
          <span slot="title">情報設計</span>
          <span slot="description"
            >Webサイトでは、ユーザーに対して企業の強みを訴求できるように、企業の特長ページへの遷移導線をファーストビューに設置しています。そしてトップページでは重要なコンテンツとなる箇所に動画やモーションなども使用することでユーザーの視線いくように設計しております。<br
            />
            また、製品詳細やソリューションページでは詳細な情報も見やすく迷わないようにアンカーリンクを設けるなど、ユーザーが使いやすく見やすい設計を意識しております。</span
          >
        </DescriptionList>
        <DescriptionList>
          <span slot="title">デザイン</span>
          <span slot="description"
            >定めたデザインコンセプトをもとにクリアで洗練されたような印象を与えるデザインに展開し、しなやかな強さを表現することで業界を引っ張っていく企業としての力強さを表しました。<br
            />
            ロゴはAvenir Nextをベースとし、文字同士をくっつけたり巻き付くような形をにより未来へ紡いでいく、という想いを表現しております。そして特徴的な「O」の形をサインとしても展開し、様々な用途に活用することで、ロゴの印象訴求をおこなっております。<br
            />
            また、Webサイトではグラデーションやトーンの高い画像などで未来を表現し、環境に配慮された地球であったり紡がれていく繋がりの表現として円、そして繊維のモチーフとして線を活用し、らしさのあるデザインを意識しました。採用ページ側では、トップの印象を残しつつグラデーションの色味調整やアクセントとしてオレンジを使用することでよりダイナミックな雰囲気を追加し、企業の活動的な特色を色濃く反映させております。</span
          >
        </DescriptionList>
        <DescriptionList>
          <span slot="title">制作範囲</span>
          <span slot="description">ロゴ/名刺/Webデザイン/Web構成要素</span>
        </DescriptionList>
      </DetailSection>

      <div class="ts-horizontal-scroll-item">
        <div class="md:py-[7.5rem] h-full px-5 md:px-0">
          <DetailImage>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/2.jpg`)}
                  alt=""
                  class="ts-image-white-in md:h-full"
                />
              </picture>
            </li>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/3.jpg`)}
                  alt=""
                  class="ts-image-white-in md:h-full"
                />
              </picture>
            </li>

            <DetailImage row={2}>
              <li>
                <picture>
                  <img
                    src={updatePath(`/detail/${work?.slug}/4.jpg`)}
                    alt=""
                    class="ts-image-white-in"
                  />
                </picture>
              </li>

              <li>
                <picture>
                  <img
                    src={updatePath(`/detail/${work?.slug}/5.jpg`)}
                    alt=""
                    class="ts-image-white-in"
                  />
                </picture>
              </li>
            </DetailImage>

            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/6.jpg`)}
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/7.jpg`)}
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/8.jpg`)}
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
            <li>
              <picture>
                <img
                  src={updatePath(`/detail/${work?.slug}/9.jpg`)}
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
            <li>
              <picture>
                <source
                  srcset={updatePath(`/detail/${work?.slug}/concept-pc.jpg`)}
                  media="(min-width: 768px)"
                />
                <img
                  src={updatePath(`/detail/${work?.slug}/concept-sp.jpg`)}
                  alt=""
                />
              </picture>
            </li>
          </DetailImage>
        </div>
      </div>

      <BackToList />
      <NextWork work={nextWork} />
    </div>
  </section>

  <Stalker client:only="react" />
</Layout>

<script>
  import horizontalScroll from '@/libs/horizontalScroll';
  import imageWhiteIn from '@/libs/imageWhiteIn';
  horizontalScroll();
  imageWhiteIn();
</script>
