---
import Layout from '@/layouts/Layout.astro';
import TitleVertical from '@/components/TitleVertical';
import Slider from '@/components/Slider/index.astro';
import slides from '@/data/slides';
import snsLinks from '@/data/snsLinks';
import AboutSection from '@/components/AboutSection.astro';
import Timeline from '@/components/Timeline/index.astro';
import timelines from '@/data/timelines';
import Stalker from '@/components/Stalker';
import updatePath from '@/libs/updatePath';
const title = '私について';
const titleEn = 'ABOUT';
---

<Layout
  title={titleEn}
  theme="dark"
  maxW={true}
  isOverflowXHidden={false}
  isFooter={true}
>
  <div class="text-taupe-gray pt-40">
    <TitleVertical jp={title} en={titleEn} />
  </div>

  <div id="about-text" class="md:text-lg mt-16 md:mt-36 w-9/12 ml-auto">
    <p>
      論理的思考と直感的思考、機能と情緒、静と動、これらのバランスをとりユーザーニーズや目的を叶える最適な視覚表現を模索し表現することが得意です。
    </p>

    <p class="mt-4">
      デザインの可能性を信じ、そして情熱を持って取り組み、クリエイティビティと美しさを備えたユーザーに届くデザインを提供します。
    </p>

    <p class="font-serif-en mt-7 md:mt-12 text-silver-chalice">
      I am Taiki Sato, a visual designer.<br />
      I am good at balancing logical and intuitive thinking, function and emotion,
      stillness and movement,<br />
      and seeking and expressing the best visual expression that fulfills user needs
      and objectives.
    </p>
  </div>

  <div
    id="about-slider-wrapper"
    class="h-screen w-full relative pt-16 md:pt-[7.5rem]"
  >
    <div
      id="about-slider"
      class="about-slider absolute top-16 md:top-[7.5rem] right-0 h-40 md:h-auto"
    >
      <Slider items={slides} />
    </div>
  </div>

  <AboutSection title="PROFILE">
    <div
      class="flex justify-between items-center flex-col md:flex-row gap-9 md:gap-60"
    >
      <div
        class="ts-profile-image max-w-80 md:max-w-[32.5rem] relative overflow-hidden"
      >
        <picture class="block w-full mix-blend-multiply">
          <img
            src={updatePath('/about/profile.jpg')}
            alt="佐藤 大輝のプロフィール画像"
            class="w-full"
          />
        </picture>

        <div
          class="bg-layer absolute -bottom-1/2 left-0 w-full h-[200%] bg-taupe-gray -z-10"
        >
        </div>
      </div>

      <div class="flex-1">
        <p class="font-serif-en text-sm md:text-base text-taupe-gray">
          TAIKI SATO
        </p>
        <p class="text-2xl md:text-[2rem] font-medium mt-2">佐藤 大輝</p>

        <p class="text-silver-chalice mt-7 md:mt-10">
          神奈川県出身。1999年生まれ。<br />
          大学時代には服飾のインカレに所属し、デザインから縫製まで一から服を作成していた。その経験からものづくりやデザインに興味を持ち、独学でデザインを学んだのちに新卒でWeb制作会社に入社。<br
          />
          WEBデザインを中心に行いながら、アートディレクションやグラフィックデザインも手がける。
        </p>

        <ul class="mt-9 md:mt-14 flex gap-8 text-lg font-serif-en">
          {
            snsLinks.map(item => {
              return (
                <li>
                  <a href={item.href} target={item.target} class="ts-text-link">
                    {item.text}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </AboutSection>

  <AboutSection title="CAREER">
    <Timeline items={timelines} />
  </AboutSection>

  <Stalker client:only="react" />
</Layout>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import getIsMobile from '@/libs/getIsMobile';

  gsap.registerPlugin(ScrollTrigger);
  const wrapper = document.getElementById('about-slider-wrapper');
  const slider = document.getElementById('about-slider');
  const height = wrapper?.offsetHeight;
  const text = document.getElementById('about-text');
  const width = text?.offsetWidth;
  const isMobile = getIsMobile();
  const mobilePercentage = '20%';
  gsap.set(text, { width: width });
  gsap.set(slider, { width: width });

  gsap
    .timeline({
      scrollTrigger: {
        trigger: wrapper,
        start: `${isMobile ? `top ${mobilePercentage}` : 'top top'}`,
        end: `+=${height}`,
        scrub: true,
        pin: true,
      },
    })
    .to(slider, {
      width: '100vw',
      height: '100vh',
      top: 0,
      right: '50%',
      x: '50%',
      y: `${isMobile ? `-${mobilePercentage}` : '0'}`,
    });

  gsap.to('.ts-profile-image', {
    scrollTrigger: {
      trigger: '.ts-profile-image',
      start: 'top center',
      toggleClass: 'is-active',
      once: true,
    },
  });
</script>

<style lang="scss">
  .ts-profile-image {
    &,
    img,
    .bg-layer {
      transition: all 1.5s ease;
    }

    .bg-layer {
      transform: skewY(10deg);
    }

    &:not(.is-active) {
      img {
        filter: grayscale(100%);
      }
    }

    &.is-active {
      background-color: #fff;

      img {
        filter: grayscale(0);
      }

      .bg-layer {
        transform: translateY(100%);
        opacity: 0;
      }
    }
  }
</style>
