---
import menus from '@/data/menus';
import snsLinks from '@/data/snsLinks';
import Disc from '@/components/Disc.astro';
import MenuLink from '@/components/Header/MenuLink.astro';
import updatePath from '@/libs/updatePath';
import { buttonCloseClass } from './buttonClass';
---

<div id="menu" class="menu z-30 h-dvh w-screen bg-mine-shaft-texture">
  <div class="relative flex h-full w-full p-5 md:p-10">
    <video
      class="hidden h-full max-w-[50%] items-center md:mr-4 md:flex"
      webkit-playsinline
      playsinline
      muted
      autoplay
      loop
    >
      <source src={updatePath('/common/menu.mp4')} type="video/mp4" />
    </video>

    <div class="flex w-full flex-col md:flex-1">
      <button class={buttonCloseClass} data-stalker-color="bright">
        <span class="inline-block">CLOSE</span>
        <Disc />
      </button>

      <div class="flex w-full flex-1 flex-col items-center py-10">
        <div class="flex w-full flex-1 items-center justify-center">
          <ul
            class="flex h-full max-h-[22.2rem] w-full max-w-[85%] flex-row-reverse justify-between md:max-h-[30rem] md:w-auto md:max-w-full md:justify-normal md:gap-12"
          >
            {
              menus.map(menu => {
                return (
                  <li class="flex leading-none">
                    <a
                      href={
                        menu.href.includes('mailto:')
                          ? menu.href
                          : updatePath(menu.href)
                      }
                      target={menu.target}
                      class="group relative duration-[0.6s] vertical-rl hover:opacity-70"
                      data-stalker-color="bright"
                    >
                      <MenuLink menu={menu} />
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>

        <ul class="mt-4 flex gap-8">
          {
            snsLinks.map(link => {
              return (
                <li>
                  <a
                    href={link.href}
                    target={link.target}
                    class="ts-text-link font-serif-en text-xl text-pampas"
                    data-stalker-color="bright"
                  >
                    {link.text}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.is-open {
      opacity: 1;
      visibility: visible;
    }
  }
</style>
