---
import menus from '@/data/menus';
import snsLinks from '@/data/snsLinks';
import Disc from '@/components/Disc.astro';
import MenuLink from '@/components/Header/MenuLink.astro';
import updatePath from '@/libs/updatePath';
import { buttonCloseClass } from './buttonClass';
---

<div id="menu" class="menu w-screen h-dvh bg-mine-shaft-texture z-30">
  <div class="p-5 md:p-10 w-full h-full flex relative">
    <video
      class="hidden md:flex md:mr-4 h-full max-w-[50%] items-center"
      webkit-playsinline
      playsinline
      muted
      autoplay
      loop
    >
      <source src={updatePath('/common/menu.mp4')} type="video/mp4" />
    </video>

    <div class="w-full md:flex-1 flex flex-col">
      <button class={buttonCloseClass} data-stalker-color="bright">
        <span class="inline-block">CLOSE</span>
        <Disc />
      </button>

      <div class="w-full py-10 flex-1 flex flex-col items-center">
        <div class="w-full flex justify-center items-center flex-1">
          <ul
            class="max-w-[85%] md:max-w-full w-full h-full max-h-[22.2rem] md:max-h-[30rem] md:w-auto flex flex-row-reverse justify-between md:justify-normal md:gap-12"
          >
            {
              menus.map(menu => {
                return (
                  <li class="leading-none flex">
                    <a
                      href={
                        menu.href.includes('mailto:')
                          ? menu.href
                          : updatePath(menu.href)
                      }
                      target={menu.target}
                      class="relative group vertical-rl hover:opacity-70 duration-[0.6s]"
                      data-stalker-color="bright"
                    >
                      <MenuLink menu={menu} />
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>

        <ul class="mt-4 flex gap-8">
          {
            snsLinks.map(link => {
              return (
                <li>
                  <a
                    href={link.href}
                    target={link.target}
                    class="ts-text-link text-pampas font-serif-en text-xl"
                    data-stalker-color="bright"
                  >
                    {link.text}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.is-open {
      opacity: 1;
      visibility: visible;
    }
  }
</style>
