---
import menus from '@/data/menus';
import snsLinks from '@/data/snsLinks';
import Disc from '@/components/Disc.astro';
import MenuLink from '@/components/Header/MenuLink.astro';
---

<div
  id="menu"
  class="menu w-screen h-screen bg-mine-shaft bg-[url(/texture-for-black.png)] bg-repeat"
>
  <div class="p-5 md:p-10 w-full h-full flex relative">
    <picture class="hidden md:flex md:mr-4 h-full max-w-[50%] items-center">
      <img src="https://placehold.jp/800x1000.png" alt="" class="max-h-full" />
    </picture>

    <div class="w-full md:flex-1 flex flex-col">
      <button
        class="ts-menu-close text-pampas font-serif-en border border-emperor rounded-[30px] py-[6px] px-4 flex gap-2 items-center absolute top-5 md:top-10 right-5 md:right-20 group transition-colors hover:bg-pampas hover:text-mine-shaft"
      >
        <span class="inline-block">CLOSE</span>
        <Disc />
      </button>

      <div class="w-full py-10 flex-1 flex flex-col items-center">
        <div class="w-full flex justify-center items-center flex-1">
          <ul
            class="max-w-[max(70vw,200px)] md:max-w-full w-full md:w-auto flex md:inline-flex flex-row-reverse justify-between md:justify-normal md:gap-12"
          >
            {
              menus.map(menu => {
                return (
                  <li class="leading-none">
                    <a href={menu.href} class="relative group vertical-rl">
                      {/* original */}
                      <span class="opacity-0">
                        <MenuLink menu={menu} />
                      </span>

                      {/* default */}
                      <span
                        style={{
                          transitionTimingFunction:
                            'cubic-bezier(0.16, 1, 0.3, 1)',
                        }}
                        class="transition-all duration-700 absolute top-0 left-0 group-hover:opacity-0 group-hover:-translate-x-1/2"
                      >
                        <MenuLink menu={menu} />
                      </span>

                      {/* hover */}
                      <span
                        style={{
                          transitionTimingFunction:
                            'cubic-bezier(0.16, 1, 0.3, 1)',
                        }}
                        class="transition-all duration-700 absolute top-0 left-0 opacity-0 translate-x-1/2 group-hover:translate-x-0 group-hover:opacity-100"
                      >
                        <MenuLink menu={menu} />
                      </span>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>

        <ul class="mt-4 flex gap-8">
          {
            snsLinks.map(link => {
              return (
                <li>
                  <a
                    href={link.href}
                    target={link.target}
                    class="ts-text-link text-pampas font-serif-en text-xl"
                  >
                    {link.text}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.is-open {
      opacity: 1;
      visibility: visible;
    }
  }
</style>
