---
import menus from '@/data/menus';
import snsLinks from '@/data/snsLinks';
import Disc from '@/components/Disc.astro';
---

<div
  id="menu"
  class="menu w-screen h-screen bg-mine-shaft bg-[url(/texture-for-black.png)] bg-repeat"
>
  <div class="p-5 md:p-10 h-full flex relative">
    <picture class="hidden md:flex mr-4 h-full max-w-[50%] items-center">
      <img src="https://placehold.jp/800x1000.png" alt="" class="max-h-full" />
    </picture>

    <div class="flex-1 flex flex-col">
      <button
        class="ts-menu-close text-pampas font-serif-en border border-emperor rounded-[30px] py-[6px] px-4 flex gap-2 items-center absolute top-5 md:top-10 right-5 md:right-20 group transition-colors hover:bg-pampas hover:text-mine-shaft"
      >
        <span class="inline-block">CLOSE</span>
        <Disc />
      </button>

      <div class="py-10 flex-1 flex flex-col items-center">
        <div class="flex items-center flex-1">
          <ul class="inline-flex flex-row-reverse gap-6 md:gap-12">
            {
              menus.map(menu => {
                return (
                  <li>
                    <a
                      href={menu.href}
                      class="vertical-rl flex flex-row text-pampas"
                    >
                      <span class="horizontal-tb ml-2">({menu.number})</span>
                      <span class="flex flex-col mt-8">
                        <span class="text-taupe-gray font-serif-en">
                          {menu.en}
                        </span>
                        <span class="text-2xl md:text-4xl">{menu.text}</span>
                      </span>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>

        <ul class="mt-4 flex gap-8">
          {
            snsLinks.map(link => {
              return (
                <li>
                  <a
                    href={link.href}
                    target={link.target}
                    class="text-pampas font-serif-en text-xl"
                  >
                    {link.text}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.is-open {
      opacity: 1;
      visibility: visible;
    }
  }
</style>
