---
import type { Work } from '@/types/Work';
import updatePath from '@/libs/updatePath';

interface Props {
  work: Work;
}
const { work } = Astro.props;
---

<section
  class="ts-horizontal-scroll-item box-content flex items-end justify-end whitespace-normal md:w-[40rem] md:pl-[34rem] md:pr-20"
>
  <div class="px-5 pt-[7.43rem] md:px-0 md:py-[8.125rem]">
    <p class="font-serif-en md:text-lg">(NEXT PROJECT)</p>
    <h2 class="text-[2rem] font-medium md:text-[2.625rem]">
      {work.title}
    </h2>
  </div>
</section>

<a
  href={updatePath(`/works/${work.slug}/`)}
  aria-label={`${work.title}を見る`}
  class="ts-horizontal-scroll-item relative mt-9 block md:mt-0"
>
  <picture class="ts-crossing-link block h-full">
    <source
      srcset={updatePath(work.image)}
      media="(min-width: 768px)"
      class="md:h-full"
    />
    <img src={updatePath(work.mvSp)} class="ts-image-white-in md:h-full" />
  </picture>

  <span
    class="absolute bottom-[20px] right-5 flex h-[40px] w-[40px] items-center justify-center rounded-full bg-mine-shaft md:hidden"
  >
    <svg
      width="14"
      height="10"
      viewBox="0 0 14 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6.91412 0.679339C6.91412 0.679339 7.99884 2.63402 8.2563 4.37282L0.731445 4.7742V5.34764L8.24902 5.74902C7.96468 7.46346 6.78603 9.32056 6.78603 9.32056C6.78603 9.32056 10.3661 5.54406 13.6435 5.05602C10.3758 4.56308 6.91412 0.679199 6.91412 0.679199V0.679339Z"
        class="fill-taupe-gray"></path>
    </svg>
  </span>
</a>
