---
import '@fontsource/zen-old-mincho/400.css';
import '@fontsource/zen-old-mincho/500.css';
import '@fontsource/zen-old-mincho/600.css';
import '@fontsource/marcellus';
import type { Meta } from '@/types/Meta';
import CommonHead from '@/components/CommonHead.astro';
import siteInfo from '@/data/siteInfo';
import Header from '@/components/Header/index.astro';
import Main from '@/components/Main.astro';
import Footer from '@/components/Footer/index.astro';
import cn from '@/libs/cn';
import '@/styles/global.scss';
import type { ThemeColor } from '@/types/ThemeColor';
interface Props {
  title?: string;
  description?: string;
  theme?: ThemeColor;
  isContainer?: boolean;
  maxW?: boolean;
  isOverflowXHidden?: boolean;
  isFooter?: boolean;
}

const {
  title,
  description,
  theme = 'bright',
  isContainer = true,
  maxW = false,
  isOverflowXHidden = true,
  isFooter = false,
} = Astro.props;
const meta: Meta = {
  title: title ? `${title} | ${siteInfo.appName}` : siteInfo.appName,
  description: description || siteInfo.description,
  author: siteInfo.author,
  image: new URL('/images/common/og.png', Astro.url.origin).toString(),
};
const bodyClass = cn({
  'font-serif': true,
  'text-black': theme === 'bright',
  'text-pampas': theme === 'dark',
  'bg-gray-texture': theme === 'bright',
  'bg-mine-shaft-texture': theme === 'dark',
  'overflow-x-hidden': true,
});
---

<!doctype html>
<html lang="ja">
  <head>
    <CommonHead meta={meta} />
  </head>
  <body class={bodyClass} data-bg-color={theme}>
    <Header color={theme} />
    <Main
      isContainer={isContainer}
      maxW={maxW}
      isOverflowXHidden={isOverflowXHidden}
    >
      <slot />
    </Main>
    {
      isFooter && (
        <>
          <div class="h-[1px] w-screen bg-taupe-gray mt-32 md:mt-72" />
          <Footer start="bottom" />
        </>
      )
    }
    <script>
      import vw from '@/libs/vw';
      import smoothScroll from '@/libs/smoothScroll';
      import hoverTextLink from '@/libs/hoverTextLink';
      vw();
      smoothScroll();
      hoverTextLink();
    </script>
  </body>
</html>
