---
import '@fontsource/zen-old-mincho/400.css';
import '@fontsource/zen-old-mincho/500.css';
import '@fontsource/zen-old-mincho/600.css';
import '@fontsource/marcellus';
import type { Meta } from '@/types/Meta';
import CommonHead from '@/components/CommonHead.astro';
import siteInfo from '@/data/siteInfo';
import Header from '@/components/Header/index.astro';
import Footer from '@/components/Footer/index.astro';
import Main from '@/components/Main.astro';
import '@/styles/global.scss';
import updatePath from '@/libs/updatePath';
interface Props {
  title?: string;
  description?: string;
}

const meta: Meta = {
  title: siteInfo.appName,
  description: siteInfo.description,
  author: siteInfo.author,
  image: new URL('/images/common/og.png', Astro.url.origin).toString(),
};
---

<!doctype html>
<html lang="ja">
  <head>
    <CommonHead meta={meta} />
    <link
      rel="preload"
      as="image"
      href={updatePath('/top/hero/shadow-image.png')}
      fetchpriority="high"
    />
    <link
      rel="preload"
      as="video"
      href={updatePath('/top/hero/shadow-movie.mp4')}
      fetchpriority="high"
    />
    <link
      rel="preload"
      as="image"
      href={updatePath('/top/hero/fv-moving.png')}
      fetchpriority="high"
    />
  </head>
  <body
    id="body"
    class="font-serif text-taupe-gray data-[bg-color=bright]:text-black transition-colors overflow-x-hidden"
  >
    <div
      id="bg"
      class="bg fixed -z-10 top-0 left-0 w-screen h-full"
      data-color="dark"
    >
      <div class="relative w-full h-full">
        <div
          class="bg__dark w-full h-full absolute top-0 left-0 bg-mine-shaft-texture"
        >
        </div>
        <div
          class="bg__bright w-full h-full absolute top-0 left-0 bg-gray-texture"
        >
        </div>
      </div>
    </div>
    <Header color="dark" />
    <Main>
      <slot />
    </Main>
    <Footer start="center" />

    <style lang="scss">
      .bg {
        $this: &;

        &__dark,
        &__bright {
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
        }

        &[data-color='dark'] {
          #{$this}__bright {
            animation-name: bgAnimationRemove;
          }
          #{$this}__dark {
            animation-name: bgAnimationAdd;
          }
        }

        &[data-color='bright'] {
          #{$this}__bright {
            animation-name: bgAnimationAdd;
          }
          #{$this}__dark {
            animation-name: bgAnimationRemove;
          }
        }
      }

      @keyframes bgAnimationAdd {
        0% {
          opacity: 0;
          visibility: hidden;
        }
        100% {
          opacity: 1;
          visibility: visivle;
        }
      }

      @keyframes bgAnimationRemove {
        0% {
          opacity: 1;
          visibility: visible;
        }
        100% {
          opacity: 0;
          visibility: hidden;
        }
      }
    </style>
    <script>
      import vw from '@/libs/vw';
      import smoothScroll from '@/libs/smoothScroll';
      import changeBg from '@/libs/changeBg';
      import hoverTextLink from '@/libs/hoverTextLink';
      import focusIn from '@/libs/focusIn';
      vw();
      smoothScroll();
      changeBg();
      hoverTextLink();
      focusIn();
    </script>
  </body>
</html>
