---
import '@fontsource/zen-old-mincho/400.css';
import '@fontsource/zen-old-mincho/500.css';
import '@fontsource/zen-old-mincho/600.css';
import '@fontsource/marcellus';
import { SEO } from 'astro-seo';
import siteInfo from '@/data/siteInfo';
import Header from '@/components/Header/index.astro';
import Main from '@/components/Main.astro';
import Footer from '@/components/Footer/index.astro';
import cn from '@/libs/cn';
import '@/styles/global.scss';
import type { ThemeColor } from '@/types/ThemeColor';
interface Props {
  title?: string;
  description?: string;
  theme?: ThemeColor;
  isContainer?: boolean;
  maxW?: boolean;
  isOverflowXHidden?: boolean;
  isFooter?: boolean;
}

const {
  title,
  description,
  theme = 'bright',
  isContainer = true,
  maxW = false,
  isOverflowXHidden = true,
  isFooter = false,
} = Astro.props;
const meta = {
  title: title ? `${title} | ${siteInfo.appName}` : siteInfo.appName,
  description: description || siteInfo.description,
  author: siteInfo.author,
  image: new URL('/images/common/og.png', Astro.url.origin).toString(),
};
const bodyClass = cn({
  'font-serif': true,
  'text-black': theme === 'bright',
  'text-pampas': theme === 'dark',
  'bg-gray-texture': theme === 'bright',
  'bg-mine-shaft-texture': theme === 'dark',
  'overflow-x-hidden': true,
});
---

<!doctype html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/common/logo.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/common/apple-touch-icon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      charset="UTF-8"
      title={meta.title}
      description={meta.description}
      openGraph={{
        basic: {
          title: meta.title,
          type: 'website',
          image: meta.image,
        },
        image: {
          alt: meta.title,
        },
        optional: {
          siteName: siteInfo.appName,
          description: meta.description,
          locale: 'ja_JP',
        },
      }}
      twitter={{
        card: 'summary',
        site: siteInfo.x,
        title: meta.title,
        description: meta.description,
        image: meta.image,
        imageAlt: meta.title,
        creator: siteInfo.x,
      }}
    />
  </head>
  <body class={bodyClass} data-bg-color={theme}>
    <Header color={theme} />
    <Main
      isContainer={isContainer}
      maxW={maxW}
      isOverflowXHidden={isOverflowXHidden}
    >
      <slot />
    </Main>
    {
      isFooter && (
        <>
          <div class="h-[1px] w-screen bg-taupe-gray mt-32 md:mt-72" />
          <Footer start="top bottom" />
        </>
      )
    }
    <script>
      import vw from '@/libs/vw';
      import smoothScroll from '@/libs/smoothScroll';
      import hoverTextLink from '@/libs/hoverTextLink';
      vw();
      smoothScroll();
      hoverTextLink();
    </script>
  </body>
</html>
