---
import TopTitle from '../TopTitle.astro';
import Item from './Item.astro';
import works from '@/data/works';
import kanjiNumber from '@/libs/kanjiNumber';
import More from '../More.astro';

const newWorks = works.filter(work => work.isTop);
---

<section
  id="works-gallery"
  class="relative py-[17.5rem] contents-full text-taupe-gray [&.is-active]:text-black transition-colors duration-1000"
>
  <div
    id="works-gallery-bg"
    class="works-gallery-bg absolute -z-10 top-0 left-0 w-full h-full"
    data-color="dark"
  >
    <div class="relative w-full h-full">
      <div
        class="works-gallery-bg__dark w-full h-full absolute top-0 left-0 bg-mine-shaft-texture"
      >
      </div>
      <div
        class="works-gallery-bg__bright w-full h-full absolute top-0 left-0 bg-gray-texture"
      >
      </div>
    </div>
  </div>

  <div class="flex justify-end pr-[20%]">
    <TopTitle sub="（制作実績）" title={['機能と情緒', '作品への想い']} />
  </div>

  <ul id="works-gallery-link" class="mt-24">
    {
      newWorks.map((work, i) => {
        const kanji = kanjiNumber(i + 1);
        return <Item number={`(${kanji})`} item={work} />;
      })
    }
  </ul>

  <div class="flex flex-col items-center mt-52">
    <p class="vertical-rl font-medium text-[2rem] leading-none">
      <span>全作品</span>
    </p>
    <span class="w-[1px] h-16 bg-black mt-6"></span>
    <a
      href="/works"
      class="font-serif-en leading-none text-[6.5rem] mt-10 mb-10">ALL WORKS</a
    >
    <More href="works" color="dark" />
  </div>
</section>

<script>
  import animation from './animation';
  import handleHover from './handleHover';
  animation();
  handleHover();
</script>

<style lang="scss">
  .is-disable-hover {
    pointer-events: none;
  }

  .works-gallery-bg {
    $this: &;

    &__dark,
    &__bright {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    &[data-color='dark'] {
      #{$this}__bright {
        animation-name: bgAnimationRemove;
      }
      #{$this}__dark {
        animation-name: bgAnimationAdd;
      }
    }

    &[data-color='bright'] {
      #{$this}__bright {
        animation-name: bgAnimationAdd;
      }
      #{$this}__dark {
        animation-name: bgAnimationRemove;
      }
    }
  }

  @keyframes bgAnimationAdd {
    0% {
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
      visibility: visivle;
    }
  }

  @keyframes bgAnimationRemove {
    0% {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
    }
  }
</style>
