---
import { type Work } from '@/types/Work';
import updatePath from '@/libs/updatePath';
import cn from '@/libs/cn';
interface Props {
  number: string;
  item: Work;
}
const { item, number } = Astro.props;
const opacityClass = cn([
  'transition-opacity transition-colors duration-300 group-[.is-opacity]:opacity-50 group-[.is-opacity]:border-opacity-50',
]);
---

<li
  class="ts-image-link image-link group md:contents-right md:[&:not(:first-child)>a]:pt-14 [&:not(:last-child)>a]:pb-9 md:[&:not(:last-child)>a]:pb-0"
>
  <a
    href={updatePath(`/works/${item.slug}/`)}
    class="flex flex-col gap-4 border-t border-silver md:flex-row md:gap-16 md:border-none md:pl-[10%]"
  >
    <div class=`flex md:hidden justify-between pt-3 ${opacityClass}`>
      <span>{number}</span>
      <span class="font-serif-en">{item.year}</span>
    </div>

    <div
      class=`flex-1 md:pt-3 md:border-t border-silver
        flex flex-col relative z-10
        order-2 md:order-1 ${opacityClass}`
    >
      <div class="hidden justify-between md:flex">
        <span>{number}</span>
        <span class="font-serif-en">{item.year}</span>
      </div>

      <h3
        class=`font-medium text-[1.4rem] md:text-[1.75rem] md:mt-16 ${opacityClass}`
      >
        {item.title}
      </h3>

      <ul class=`mt-3 font-serif-en ${opacityClass}`>
        {item.categories.map(category => <li>{category}</li>)}
      </ul>

      <ul
        class=`text-gray flex md:flex-col flex-wrap gap-y-2 gap-x-3 leading-none mt-7 md:mt-auto ${opacityClass}`
      >
        {item.tags.map(tag => <li>{tag}</li>)}
      </ul>
    </div>

    <picture class="order-1 md:order-2 md:w-[75rem]">
      <img
        src={updatePath(item.imageTop || item.image)}
        alt={item.title}
        class="w-full object-contain"
      />
    </picture>
  </a>

  <picture
    class="image-link__bg pointer-events-none invisible fixed left-0 top-0 z-0 order-3 hidden h-screen w-screen opacity-0 transition-all duration-300 md:block"
    aria-hidden="true"
  >
    <img
      src={updatePath(item.imageTop || item.image)}
      alt={item.title}
      class="h-full w-full object-cover"
    />
  </picture>
</li>

<style lang="scss">
  .image-link {
    &.is-hover {
      .image-link__bg {
        opacity: 1;
        visibility: visible;
      }
    }
  }
</style>
